example2.html
example2.tex
example2_files
/.luarc.json
.Rproj.user
.Rhistory
.directory
*.pdf
*.html
*.tex
*.aux
*.log
/dev/

/.quarto/
**/*.quarto_ipynb
/_freeze/
/_site/
/site_libs/
!**/quarto-cheatsheet-v2/**
